<?xml version="1.0"?>
<!--
/*! (c) jTorm and other contributors | www.jtorm.com/license */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="webmakkers" translate="label" sortOrder="900">
            <label>Webmakkers</label>
        </tab>
        <section id="jtorm" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>jTorm</label>
            <tab>webmakkers</tab>
            <resource>Webmakkers_Jtorm::config_jtorm</resource>
            <group id="general" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>jTorm</label>
                <field id="url" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>jTorm UI Engine URL</label>
                    <comment>URL to the jTorm UI engine including port if needed</comment>
                </field>
                <field id="is_debug" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
